@use '../../styles/variable.scss' as *;

.books {
	padding: 0 0 14px 0;
	border-bottom: 1px solid $gray;

	&__wrapper {

		&>*:nth-child(2):last-child,
		&>*:nth-child(5):last-child,
		&>*:nth-child(8):last-child {
			margin-right: auto;
		}

		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		justify-content: space-between;
	}
}

@media screen and (max-width: 768px) {
	.books__wrapper {
		&>*:nth-child(odd):last-child {
			margin-right: auto;
			margin-left: auto;
			flex: 0 0 50%;
		}
	}
}

@media screen and (max-width: 520px) {
	.books__wrapper {
		justify-content: center;

		&>*:nth-child(odd):last-child {
			flex: 0 0 100%;
		}

	}
}

@media screen and (max-width: 320px) {
	.books {
		padding: 0 0 9px 0;
	}
}